@import 'tailwindcss';
/* @plugin '@tailwindcss/forms';89*/
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   /*Base theme*/
  --color-1: #F7F5FB;
  --color-2: gray;
  --color-3: #593C8F;

  /*Flowbite customization*/
  --color-primary-50: var(--color-3);
	--color-primary-100: var(--color-3);
	--color-primary-200: var(--color-3);
	--color-primary-300: var(--color-3);
	--color-primary-400: var(--color-3);
	--color-primary-500: var(--color-3);
	--color-primary-600: var(--color-3);
	--color-primary-700: var(--color-3);
	--color-primary-800: var(--color-3);
	--color-primary-900: var(--color-3);
	--color-primary-950: var(--color-3);

  /*Font Size*/
  --text-minimal: 1rem;
  --text-medium: 1.5rem;
  --text-maximal: 2.5rem;

  /*Spacing*/
  --spacing-minimal: 1rem;
  --spacing-medium: 3rem;
  --spacing-maximal: 5rem;

  /*To apply font use*/
  --font-applyed: "Quicksand", monospace;
}

@source "../node_modules/flowbite-svelte/dist";

* {
  outline-offset:0 !important;
  outline-color:var(--color-3) !important;
  border-color: var(--color-3);
  scrollbar-color: var(--color-3) black;
  scrollbar-width: auto;
  interpolate-size: allow-keywords;
}

* h1, h2, h3 {
  font-weight: bold !important;
  text-align: center;
}

* h1 {
  font-size: var(--text-maximal);
}

* h2 {
  font-size: var(--text-medium);
}

* p {
  text-align: justify;
}



::selection {
  color: var(--color-1) ;
  background: var(--color-3);
}







